# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Build directories
intermediates/
out/
src/.vs/ProjectSettings.json
src/.vs/slnx.sqlite
*.suo
src/.vs/src/v15/Browse.VC.db
*.json
src/nbproject/configurations.xml
*.xml
src/nbproject/private/cpp_standard_headers_indexer.cpp
src/nbproject/private/c_standard_headers_indexer.c
*.properties
